<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>schedule</title>
</head>
<body class="see">
    {% if not data %}
    <h2>Schedule is empty!</h2>
    <button type="button" onclick="window.location.href='{% url 'create:create' %}'" class="addbutton">Add New Entry</button>
    {% else %}
    
    <h2>the schedule</h2>
    {% for entry in data %}
    <div class="agenda">
        <h3>{{entry.name}}</h3>
        <p> {{entry.date}} • {{entry.time}} • {{entry.place}} • {{entry.category}} </p>
        <a href="{% url 'see:delete' id=entry.id %}">Delete Entry</a>
    </div>
    {% endfor %}

    <button type="button" onclick="window.location.href='{% url 'create:create' %}'" class="addbutton">Add New Entry</button>
    <a href="{% url 'see:delete_all' %}">Delete All Entries</a>
    {% endif %}
</body>
</html>