<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>schedule</title>
</head>
<body class="create">
    <div class="theform">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">submit</button>
            <a href="{% url 'see:see' %}" class="sched">See Schedule</a>
        </form>
    </div>
</body>
</html>