<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>schedule</title>
</head>
<body class="index">
    <img src="{% static 'images/redtriangle.png' %}" alt="segitiga" class="asset1">
    <div class="container">
        <button type="button" onclick="window.location.href='{% url 'create:create' %}'">create an entry</button>
        <br>
        <button type="button" onclick="window.location.href='{% url 'see:see' %}'">see schedule</button>
    </div>
    <img src="{% static 'images/pinkcircle.png' %}" alt="lingkaran" class="asset2">
</body>
</html>