* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
}

.index{
    background-color: #F0E7DA;
}

.create,
.see {
    background-color: #E3E4E0;
    text-align: center;
}

@media screen and (min-width: 801px) {
	.asset1 {
        width: 25vw;
        position: absolute;
        left: 0;
        top: 0;
    }
  }

@media screen and (max-width: 800px) {
	.asset1 {
        width: 50vw;
        position: absolute;
        left: 0;
        top: 0;
    }
  }

@media screen and (min-width: 801px) {
	.asset2 {
        width: 25w;
        position: absolute;
        right: 0;
        bottom: 0;
    }
  }

@media screen and (max-width: 800px) {
	.asset2 {
        width: 50vw;
        position: absolute;
        right: 0;
        bottom: 0;
    }
  }

.container {
    position: absolute;
    top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container button {
    margin: 10% 0%;
    font-weight: bold;
    color: white;
    background-color: #A6B4B3;
    border-radius: 7pt;
    border: none;
    font-size: 2.5vh;
    align-items: center;
    width: 100%;
    padding: 2vh 3vw;
    /* padding: 5% 20%; */
}

.theform {
    position: absolute;
    top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    background-color: #E5CBC1;
    padding: 1% 5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    color: #BA494B;
}

.theform input {
    width: 100%;
    font-size: .9em;
    color: #333333;
    margin: 0.3em 0 1em 0;
    border: none;
    background: none;
    border-bottom: 1px solid #BA494B;
    padding: 0.5em 0.1em;
    transition: all 0.5s ease;
}

@media screen and (min-width: 801px) {
	.theform input {
        width: 30vw;
    }
  }

@media screen and (max-width: 800px) {
	.theform input {
        width: 60vw;
    }
  }

.theform button {
    font-weight: bold;
    color: white;
    background-color: #BA494B;
    border: none;
    border-radius: 3pt;
    padding: 2% 4%;
    font-size: 75%;
}

.theform label, .theform input, .theform select {
    display: block;
    margin: 7% 0%;
}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    color: #BA494B;
    text-decoration: underline;
}

.agenda {
    background-color: white;
    border-radius: 15px;
    /* width: 50%; */
    /* margin: 2% auto; */
    padding: 1.5%;
    box-shadow: 0 0 5px gray;
    color: #333333;
}

.agenda p {
    margin-top: 1%;
}

.addbutton {
    background-color: #A6B4B3;
    font-size: 100%;
    /* padding: 1%; */
    margin-bottom: 3%;
    border-radius: 10px;
    font-weight: bold;
    color: #333333;
}

@media screen and (min-width: 801px) {
	.agenda {
        margin: 2% auto;
        width: 50%;
    }
    .addbutton {
        padding: 1%;
    }
  }

@media screen and (max-width: 800px) {
	.agenda {
        margin: 4% auto;
        width: 70%;
    }
    .addbutton {
        padding: 3%;
    }
  }

a,
a:visited {
  color: #BA494B;
  text-decoration: underline;
}

.sched,
.sched:visited {
    color: #333333;
    text-decoration: underline;
}